@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
nav .logo h1 {
  font-size: 2rem;
}
.nav_items ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav_items ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.nav_items ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: aqua;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav_items ul li a:hover:after {
  width: 100%;
  left: 0;
}

/* Hero Seection */
.hero {
  background-image: url("https://cdn.prod.website-files.com/66fedc3fd1f116089b6322b8/66fedc3fd1f116089b632302_hero-img.webp");
  height: 100vh;
  width: 90%;
  border-radius: 30px;
  padding: 0 20px;
  margin: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; */
  position: relative;
  /* gap: 30px; */
}
.hero h1 {
  font-size: 4rem;
  color: white;
  font-family: "Poppins", serif;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* .hero p {
  font-size: 1rem;
  color: white;
  margin: auto;
  width: 60%;
  font-family: "Poppins", serif;
} */
.hero button {
  padding: 15px 30px;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins", serif;
  position: absolute;
  bottom: 7%;
  right: 10%;
}

/* About Section */
.about p {
  width: 80%;
  padding-top: 80px;
  margin: 20px auto;
  font-size: 3rem;
  line-height: 115%;
  letter-spacing: -1px;
}
.about hr {
  width: 90%;
  margin: 20px auto;
}

/* Featured Project Section */
/* Featured Project Section */
.featured_project {
  width: 80%;
  margin: auto;
}

.featured_project h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0px;
}

.featured_project h1 i {
  font-size: 3rem;
  padding: 0 10px;
}

.featured_project .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.featured_project .cards .card {
  border-radius: 20px;
  width: 450px;
  object-fit: cover;
  height: 400px;
  margin: 20px auto;
  position: relative;
}

.featured_project .cards .card img {
  width: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}

.featured_project .cards .card .image_container {
  position: relative;
}

.featured_project .cards .card .image_container .tag {
  position: absolute;
  z-index: 99;
  top: 10%;
  background: white;
  border-radius: 40px;
  padding: 15px 20px;
  left: 10%;
}

.featured_project .cards .card h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100; /* Ensure font-family is applied */
  font-size: 1.3rem;
  line-height: 120%;
  font-weight: 900;
  letter-spacing: 0px;
}

/* Why US section */
.why_us {
  width: 80%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.why_us video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-radius: 30px;
}
.why_us .para {
  width: 50%;
  padding: 30px;
  border: 3px solid black;
  border-radius: 30px;
  width: 100%;
  height: 73vh;
}
.why_us .info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.why_us h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
.why_us p {
  margin-bottom: 30px;
}
.why_us .info_1 {
  height: 100%;
  width: 50%;
  padding: 30px;
  background-color: rgb(237, 233, 233);
  border-radius: 30px;
}
.why_us .info_1 h2 {
  margin-bottom: 30px;
}
.why_us .info_2 {
  height: 100%;
  width: 50%;
  padding: 30px;
  background-color: rgb(237, 233, 233);
  border-radius: 30px;
}
.why_us .info_2 h2 {
  margin-bottom: 30px;
}

/* sec_about section */
.sec_about {
  background: url("https://cdn.prod.website-files.com/66fedc3fd1f116089b6322b8/66fedc3fd1f116089b6322ff_overview-img.webp");
  width: 80%;
  margin: 30px auto;
  border-radius: 20px;
  padding: 30px;
}
.sec_about .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec_about .head h1 {
  font-size: 3rem;
  color: white;
  font-family: "Poppins", serif;
}
.sec_about .head button {
  background-color: black;
  border: none;
  padding: 15px 30px;
  color: white;
  border-radius: 40px;
  font-size: 1.3rem;
}
.sec_about .bottom {
  margin-top: 20px;
}
.sec_about .bottom .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sec_about .bottom .grid .first {
  background-color: rgba(0, 0, 0, 0.275);
  border-radius: 20px;
  border: 1px solid hsla(14.52914798206278, 89.56%, 51.18%, 1);
  padding: 50px;
  height: 400px;
  width: 280px;
  position: relative;
}
.sec_about .bottom .grid .first span {
  font-size: 2.3rem;
  font-weight: bold;
  color: white;
}
.sec_about .bottom .grid .first p {
  font-size: 1.2rem;
  color: white;
}
.sec_about .bottom .grid .first .btm {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

/* menu_items section */
.menu_items {
  padding: 50px;
}
.menu_items ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu_items ul li {
  padding: 15px 30px;
  border-radius: 50px;
  border: 1px solid grey;
  font-size: 2rem;
}

/* Footer */
footer {
  padding: 30px;
  font-size: 1.5rem;
}
footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom_1 h1{
  text-align: center;
  font-size: 15rem;
}

/* ending section */
.ending{
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ending .title_right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
